/* Reset do CSS */
* {
    margin: 0;
    padding: 0;
    /* preserva as dimensões das caixas */
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto',
        sans-serif;
}

aside h1 {
    font-size: 6.4rem;
    font-weight: 50rem;
    line-height: 7.5rem;
}

aside h1 span {
    color: #ff5678;
}

main {
    height: 52rem;
    width: 60.3rem;
    left: 48.6rem;
    top: 8.5rem;
    border-radius: 1.2rem;
    background: #FFFFFF;
    border: 0.1rem solid rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

main h2 {
    max-width: 43rem;
    font-size: 3.6rem;
    font-weight: 50rem;
}